.profile-image {
    border-radius: 50%;
    object-fit: cover;
    width: 50%;
}

.about-me {
    margin-bottom: 2rem;
}

.social-icons {
    text-align: center;
}

.social-icon {
    font-size: 2rem;
    margin: 1rem;
}